:root{

    --clr-primary-white: rgb(255, 255, 255);
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior:  smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}



/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default padding */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--clr-primary-black);
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;


}
@font-face {
  font-family: 'SuisseIntl-Bold';
  src: url(font/SuisseIntl-Bold.ttf) format('truetype');

}
@font-face {
  font-family: 'Suisse-Intl-Medium';
  src: url(font/Suisse-Intl-Medium.ttf) format('truetype');

}
h1,
h2,
h3,
h4,

h5,
h6 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
header{
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  font-family: 'Suisse-Intl-Medium';
  font-weight: 400;
   
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2rem;
}
nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    padding-top: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    font-size: 16px;
    font-weight: 100;
}
.navbar-toggler {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  display: none; /* Hide by default */
}

.animated-icon1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.animated-icon1 span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler.active .animated-icon1 span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggler.active .animated-icon1 span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler.active .animated-icon1 span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navigation-menus{
  display: flex;
  gap: 1em;
  margin-left: auto;
  margin-right: 30px;
}
.navigation-menus ul{
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
    line-height: 1.6;
    font-size: 16px;
}
/* Base styles */
.navigation-menus ul li {
  position: relative;
  padding-bottom: 0px; /* Space for the underline */
  transition: all 0.5s ease-in-out; /* Transition for padding changes */
}

/* Initial state of the underline */
.navigation-menus ul li::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: bottom right;
}

/* Hover state for the underline */
.navigation-menus ul li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.cv-button-wrapper{
  width: fit-content;
  margin-top: 20px;
 
}
.cv-button-wrapper a{
  width: 150px;
  height: 50px;
  border: none !important;
  background-color: black;
  color: white;
  border-radius: 30px;
  place-content: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv-button-wrapper a:hover{
  background-color: rgb(121, 131, 142);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.landing-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-content: center;
    text-align: center;
    align-items: center;
    font-family: 'SuisseIntl-Bold';
    color: black;
    line-height:70px;
    font-stretch: condensed;
}
.primary-nav .connect{
  width: 150px !important;
  height: 50px;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 30px;
  display: flex;
  justify-content: center;   
  align-items: center;
  place-items: center;       
  cursor: pointer;
  font-weight: 500;     
  font-family: 'Suisse-Intl-Medium';
  transition: background-color 0.3s ease, color 0.3s ease;

}
 .primary-nav .connect:hover{
  background-color: black;
  color: white;
} 
.hero-section{
  width: 100%;
  line-height: 60px;
  padding-bottom: 20px;
  
  
}
.hero-section .role{
  font-size: clamp(50px, 10vw + 2rem, 130px);
  color: black !important;
  text-transform: uppercase;
  
}
.hero-section .location{
  font-size: 6vw;
  color:rgb(121, 131, 142);
  text-transform: uppercase;
  
}
.about{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Suisse-Intl-Medium';
  padding-top: 50px;
  text-align: center;

  
}
.about .about-me-content{
  width: 50%;
}

.about-me{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  line-height: 90px;
 
}
.about-me p{
  width: inherit;
  text-align: center;
  color: #555D50;
}
.about-me span{
  font-family: 'Suisse-Intl-Medium';
  font-size: clamp(50px, 8vw, 120px);
}
.about-me-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
    
    text-align: left;
    color: white;
   
    
} 
.about-me-content .profile{
  width: 500px;
  height: 500px;
  
}
.profile img{
  width: 100%;
  height: 100%;
 

}
.tech-skills{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tech-skills .title{
  width: 50%;
  font-family: 'Suisse-Intl-Medium';
  font-size:8vw;
  align-self: center;
}

.tech-list {
  width: 50%;
  display: flex; 
  justify-content:space-between; 
  place-items: center;
  gap: 2rem;

  
}

.tech-list .tech-item{
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  place-items: center;
  border: 1px solid black;
  border-radius: 30px;
  font-family: 'Suisse-Intl-Medium';
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 10px; 
  color: black; 
  text-align: center;
}

.tech-list .tech-item:hover{
  background-color: black;
  color: white;
}

.tech-list div:nth-child(4), .tech-list div:nth-child(5) {
    grid-column: span 1;
}

.tech-list div:nth-child(4) {
    justify-self: end;
}

.tech-list div:nth-child(5) {
    justify-self: start;
}
.project{
  width: 100%;
  height: 100vh;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Suisse-Intl-Medium';
}
.project-content{
  width: 50%;
  display: grid;
  place-items: center;
}
.project .project-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 20px;
}
.project-list>div{
  width: 100%;
  border-bottom: solid 1px black !important;
  text-align: left;
  padding: 20px;
  
}
.project1, .project2, .project3 {
  position: relative;
  padding: 20px;
  transition: all 0.3s ease; 
  overflow: hidden; 
  height: 60px; 
}
.project1:hover, .project2:hover, .project3:hover {
  height: 100px; 
  
}
.project-wrapper {
  position: relative;
  padding-bottom: 0px; 
  transition: all 0.5s ease-in-out; 
}


.project-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: bottom right;
}


.project-wrapper:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.visit {
  display: none; 
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: black;
  text-decoration: none;
  opacity: 0; 
  transition: opacity 0.5s ease; 
}

.project1:hover .visit, .project2:hover .visit, .project3:hover .visit {
  display: inline-block; 
  opacity: 1;
}
.project-image{
  width: 50%;
}

.project span{
  font-family: 'Suisse-Intl-Medium';
  font-size: 8vw;
}
.contact{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
  padding-top: 60px;
  font-family: 'Suisse-Intl-Medium';

}

.contact span{
  font-family: 'Suisse-Intl-Medium';
  font-size: 8vw;
}

.contact_form {
  width: 45%;
  height: 430px;
  color: rgb(121, 131, 142);
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
} 


.contact_form button {
  width: 40%;
  height: 50px;
  background-color: black;
  border: none;
  border-radius: 30px;
  margin-top: 30px;
  color: white;

}

.contact_form button:hover {
  background-color: rgb(121, 131, 142);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.contact_form input{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;
  border: none;
  border-bottom: solid 1px black;
  background-color: transparent;
}
.contact_form textarea{
  width: 100%;
  height: 150px;
  resize: none;
  background-color: transparent;
}
.contact_form input:focus{
  outline: none;
}
.social-links{
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding-left: 50px;
}
.social-links span{
  font-size: 8vw;
}
.social-links p{
  text-align: center;
  color: #555D50;
}
.social-links .social-icons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  margin-top: 50px;
  
}
.social-links .social-icons img{
  width: 24px;
  height: 24px;
}
footer{
  width: 100%;
  height: 100vh;
  padding-top: 50px;
}

.project-thumbnail{
  max-width: 45%;
}
.project-thumbnail img{
  transition: opacity 0.5s ease-in-out;
}
.splitting .char {
  animation: slide-in 1.6s cubic-bezier(.2, 0, .1, 1) both;
  animation-delay: calc(30ms * var(--char-index));
  will-change:transform;
  transform-origin: top left;
}

@keyframes slide-in {
  from {
    transform: translateY(10px) scaleY(1.5);
    opacity: 0;
  }
}


@media (max-width: 767px) {
  .landing-page .hero-section{
    padding-bottom: 2px;
    padding-left: 0px;
    margin-left: 10px;
    line-height: 40px;
  }
  .landing-page .get-in-touch{
    width: 100px;
    height: 40px;
    font-size: 12px;
    margin-top: 280px;
    margin-left: 10px;
  }
  body{
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact_form{
    width: 100%;
  }
  .contact_form button{
    width: 100%;
  }

  .contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 60px;
    font-family: 'Suisse-Intl-Medium';
  
  }
  .social-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 0px;
    
  }
  .navigation-menus ul{
    display: none;
  }

  .primary-nav span{
    display: none;
  }
  .about{
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Suisse-Intl-Medium';
  
}
.about-me{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.about-me-content .profile{
  width: 100%;
  height: 300px;
  
}
.about .about-me-content{
  width: 100%;
}
.about-me span{
  font-family: 'Suisse-Intl-Medium';
   font-size: clamp(50px, 8vw, 120px);
  text-align: left;
}

.tech-skills{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  text-align: center;
  gap: 2rem;

}
.tech-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  gap: 2rem;
}
.tech-skills .title{
  width: 100%;
  font-size: clamp(50px, 8vw, 120px);
  order: 1;
}
.tech-skills .tech-list{
  order: 2;
}
.project .project-thumbnail{
  display: none;
}
.project .project-content{
  width: 100%;
}
.project-content span{
  font-size: clamp(50px, 8vw, 120px);
}
.social-links .get-in-touch{
  font-size: clamp(50px, 8vw, 120px);
}
footer{
  padding-top: 0px;
}
footer .contact{
  padding-top: 0px;
}

.navbar-toggler {
    display: block; 
   
}

.navigation-menus {
    display: flex; /* Ensure the element is a flex container */
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    padding-top: 50px;
    opacity: 0; /* Start hidden */
    transform: translateX(-100%); /* Start off-screen */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

.navigation-menus.show {
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Slide in */
}

.navigation-menus ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em; 
    margin: 0;    
}
.navigation-menus ul li {
    padding: 0.5em 1em; 
  
}
.navigation-menus ul li a {
    color: white;
    font-size: 1.4rem; 
    display: block;
    font-size: 6vw;
}

.primary-nav span {
    display: none; 
}

.animated-icon1 .bar {
    display: block;
    width: 25px;
    height: 3px;
    transition: all 0.3s ease-in-out;
    z-index: 100;
    
}
.navbar-toggler.active .animated-icon1 span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggler.active .animated-icon1 span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler.active .animated-icon1 span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


}






